* {
    font-family: "JetBrainsMono NFM"
}

#window {
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: #CBA6F7;
    background-color: rgba(30, 30, 46, 0.99);
}

#entry {
    margin-bottom: 8px;
    margin-right: 12px;
    margin-left: 12px;
    background-color: rgba(30, 30, 46, 0.99);
}


#entry:selected {
    border-radius: 12px;
    background-color: rgba(49, 50, 68, 0.99);
    border-style: none;
    outline: none;
}

label {
    margin-left: 15px;
}

#input {
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border-style: solid;
    border-width: 2px;
    border-color: rgba(203, 166, 247, 0.99);
    border-bottom: 0;

    margin-bottom: 5px;
    outline: none;
}
